%footer
  .footer_about
    %p{:style => "text-align: justify;"}
      GrowthEngine uses behavioural economics growth hacks to drive insame amounts of traffic to and signups to your product or service. Seriously try it.
      %br Made with love :)
  .footer_nav
    %ul
    %ul
      %li
        %a{:href => "#"} Terms of Use
      %li
        %a{:href => "#"} Privacy
    %ul.last
      %li
        %a.twitter{:href => "#"} Twitter
      %li
        %a.facebook{:href => "#"} Facebook