<header>
   <div class="color_bar">
    <div class="color_yellow"></div>
    <div class="color_amber"></div>
    <div class="color_orange"></div>
    <div class="color_sunset"></div>
    <div class="color_red"></div>
    <div class="color_fuchsia"></div>
    <div class="color_purple"></div>
    <div class="color_indigo"></div>
    <div class="color_blue"></div>
    <div class="color_aqua"></div>
    <div class="color_green"></div>
    <div class="color_lime"></div>
   </div>


   <nav> 
    <div class="grid-container"> 
      <div class="grid-2 logo"> 
        <h1>GrowthApp</h1> 
      </div>
      <div class="grid-8 nav_items">
        <ul>
          <li class="btn btn_green signup_btn">
            <a href="http://growthapp.tumblr.com">
            Blog
          </a>
            </li>
              <li class="btn btn_blue signup_btn">
            <a href="#hero">
              Sign Up
            </a>
              </li>
        </ul>
      </div>
    </div>
   </nav> 
 </header> 

<!-- ****** HERO UNIT *******-->

<div class="hero_img_div">
  <%= image_tag "plant.png", class: "music-img"%>
</div>

<div class="hero" id="hero">
  <span>
  <h1>More users through word of mouth</h1>
  <form id = "signup_form1">
    <input type="text" name="mail" placeholder="Your Email" id="email_input">
    <input type="submit" Value="Join the beta" class="btn btn_blue signup_btn email_btn" > 
  </form>  
  <span>
</div>

<!-- ****** HERO UNIT END ****** -->



<div class="grid-container examples color_lightblue white_text">
  <div class="grid-6 example_right">
    <h1>Drive engagement</h1>
    <h2> We use behavioural economics and the ways customers react to boost user engagament</h2>
    <ul>
      <li class="white_text"> Combined behavioural economics  </li>
      <li class="white_text"> With inpulse buying analysis</li>
    </ul> 
  </div>
  <div class="grid-6 img_left">
    <%= image_tag( "pic8.png", { class: "img_right" } ) %>
  </div>
</div>

<div class="grid-container examples">
  <div class="grid-6 example_left">
    <h1>Word of mouth marketing</h1>
    <h2>Using customer behaviour data, we use growth hacks to get your customers to talk about you</h2>
    <ul>
      <li> Excited customers share more</a></li>
      <li> This generates organic growth</li>
    </ul> 
  </div>
  <div class="grid-6 img_right">
    <%= image_tag "pic6.png"%>
  </div>
</div>

<div class="grid-container examples color_green white_text">
  <div class="grid-6 example_right">
    <h1>Viral Growth</h1>
    <h2>After all, potential customers prefer recommendation to ads. This means more conversion rates. </h2>
    <ul>
      <li><a class="white_text" href="">Our growth engine automates this for you</a></li>
      <li><a class="white_text" href=""></a>Try our engine to see  results</li>
    </ul> 
  </div>
  <div class="grid-6 img_left">
    <%= image_tag "pic7.png" %>
  </div>
</div>


<div class= "call_action">

  <br>

  <h1>Get an insame amount of traffic to your site. Seriously try it.  </h1>

  <a href="#hero" class="btn btn_blue white_text">Get Early Access </a>
</div>


<footer>
  <ul>
    <li>&copy; GrowthApp</li>
    <li><a href="https://www.facebook.com/GrowthAppp">Facebook</a></li>
    <li><a href="https://twitter.com/Growth_App">Twitter</a></li>
  </ul>

</footer>

